<%@ Page Language="vb" AutoEventWireup="false" Codebehind="Partikoder.aspx.vb" Inherits="ValgWeb2009.Partikoder"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>Partikoder</title>
		<LINK href="Styles.css" type="text/css" rel="stylesheet">
		<META HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=iso-8859-1">
		<meta name="GENERATOR" content="Microsoft Visual Studio.NET 7.0">
		<meta name="CODE_LANGUAGE" content="Visual Basic 7.0">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">

        <script language='JavaScript'>
			<!--
				this.focus();
			-->
        </script>
		
	</HEAD>
	<body MS_POSITIONING="GridLayout">
		<h1>Partikoder</h1>
		<form id="Form1" method="post" runat="server">
			<asp:Xml id="Xml1" runat="server" TransformSource="XSLT/spPartiliste.xsl" DocumentSource="Query_MAIN.xml"></asp:Xml>
		</form>
	</body>
</HTML>
